@page "/imc"

<div class="container">
    <h3><center>Calculadora De Imc</center></h3>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">NOME:</label>
        <input @bind="Pessoa.Nome" type="text" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">PESO:</label>
        <input @bind="Pessoa.Peso" type="number" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ALTURA :</label>
        <input type="number" class="form-control" id="exampleFormControlInput1">
    </div>

    <button type="button" class="btn btn-primary">CALCULAR</button>
    <button type="button" class="btn btn-warning">CANCELAR</button>
    <button type="button" class="btn btn-success">SALVAR</button>

    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">RESULTADO:</label>
        <input type="number" class="form-control" id="exampleFormControlInput1">
    </div>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">CLASSIFICAÇÃO: </label>
    </div>
</div>

###########################################################################################

<div class="alert alert-warning" role="alert">
</div>

@code {
    private int? Peso { get; set; }
    private int? Altura { get; set; }
    private int? Imc { get; set; }

    //eventos
    private void Calcular()
    {
        Total = Valor1 + Valor2;
    }

    private void Limpar()
    {
        Peso = null;
        Altura = null;
        Imc = null;
    }
}
