@page "/soma"

<h3>Soma de Valores</h3>
<div class="container">
    <!-- Content here -->
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">VALOR 1:</label>
        <input @bind="Valor1" type="number" class="form-control" id="exampleFormControlInput1">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">VALOR 2:</label>
        <input @bind="Valor2" type="number" class="form-control" id="exampleFormControlInput2">
    </div>

    <button type="button" class="btn btn-success" @onclick="Calcular">CALCULAR</button>
    <button type="button" class="btn btn-primary" @onclick="Limpar">NOVO CÁLCULO</button>
    
    <nav class="navbar navbar-light" style="background-color: white"></nav>

    <nav class="navbar navbar-light" style="background-color: darkgreen"></nav>

    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">RESULTADO:</label>
        <input @bind="Total" type="number" class="form-control" id="exampleFormControlInput1">
    </div>
</div>

@code {
    private int? Valor1 { get; set; }
    private int? Valor2 { get; set; }
    private int? Total { get; set; }

    //eventos
    private void Calcular()
    {
        Total = Valor1 + Valor2;
    }

    private void Limpar()
    {
        Valor1 = null;
        Valor2 = null;
        Total = null;
    }
}
